<div class="row">
  <div class="col-md-offset-6 col-md-6 text-center">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Type
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let type of types">
          <a href="#" class="small" tabindex="-1" data-value="1" (click)="addRemoveTypeParameter($event,type,false)" title="{{type.description}}">
            <input type="checkbox" [checked]="type.selected" (click)="addRemoveTypeParameter($event,type,true)"/>&nbsp;{{type.nom}}
          </a>
        </li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Signifier
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let signifier of signifiers">
          <a href="#" class="small" tabindex="-1" data-value="1" (click)="addRemoveSignifierParameter($event,signifier,false)" title="{{signifier.description}}">
            <input type="checkbox" [checked]="signifier.selected" (click)="addRemoveSignifierParameter($event,signifier,true)"/>&nbsp;{{signifier.caractere}}
          </a>
        </li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Bullet
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let bullet of bullets">
          <a href="#" class="small" tabindex="-1" data-value="1" (click)="addRemoveBulletParameter($event,bullet,false)" title="{{bullet.description}}">
            <input type="checkbox" [checked]="bullet.selected" (click)="addRemoveBulletParameter($event,bullet,true)"/>&nbsp;{{bullet.caractere}}
          </a>
        </li>
      </ul>
    </div>
    Début: <input type="date" [(ngModel)]="dateStartString" (change)="updateSearchEntryDate()">
    Fin: <input type="date" [(ngModel)]="dateEndString" (change)="updateSearchEntryDate()">
  </div>
</div>

<!-- TODO: change header by search header -->

<!-- TODO: maybe pagination ? -->

<!-- TODO: Add date and type of entry // not modifiable -->

    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="6">
            Filtrer par nom:
            <input type="text" class="form-control" [(ngModel)]="search.text" (keyup)="updateSearchEntryText()"/>
          </th>
        </tr>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Signifier</th>
          <th>Bullet</th>
          <th>Text</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of entries">
          <td>
            {{entry.date | date:getDatePattern(entry)}}
          </td>
          <td>
            {{getType(entry)}}
          </td>
          <td>
            <select (change)="updateEntry(entry)" [(ngModel)]="entry.signifier">
              <option *ngFor="let signifier of signifiers" [ngValue]="signifier.id" [selected]="signifier.id===entry.signifier" title="{{signifier.description}}">{{signifier.caractere}}</option>
            </select>
          </td>
          <td>
            <select (change)="updateEntry(entry)" [(ngModel)]="entry.bullet">
              <option *ngFor="let bullet of bullets" [ngValue]="bullet.id" [selected]="bullet.id===entry.bullet" title="{{bullet.description}}">{{bullet.caractere}}</option>
            </select>
          </td>
          <td>
            <input [(ngModel)]="entry.text" type="text" class="entry-text-modifiable" (keyup)="updateEntry(entry)"/>
          </td>
          <td>
            <button (click)="removeEntry(entry)" class="btn btn-danger">X</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <ul class="pagination">
              <li>
                <a href="#" (click)="previousPage()">«</a>
              </li>
              <li *ngIf="search.page!==1">
                <a href="#" (click)="setPage(1)">1</a>
              </li>
              <li *ngIf="search.page>3">
                <a href="#" (click)="doNothing()">...</a>
              </li>
              <li *ngIf="search.page>2">
                <a href="#" (click)="setPage(search.page-1)">{{search.page-1}}</a>
              </li>
              <li class="active">
                <a href="#" (click)="setPage(search.page)">{{search.page}}</a>
              </li>
              <li *ngIf="search.page<(search.getMaxPage()-1)">
                <a href="#" (click)="setPage(search.page+1)">{{search.page+1}}</a>
              </li>
              <li *ngIf="search.page<(search.getMaxPage()-2)">
                <a href="#" (click)="doNothing()">...</a>
              </li>
              <li *ngIf="search.page!==search.getMaxPage()">
                <a href="#" (click)="setPage(search.getMaxPage())">{{search.getMaxPage()}}</a>
              </li>
              <li>
                <a href="#" (click)="nextPage()">»</a>
              </li>
            </ul>

            <ul class="pagination pull-right">
              <li [class.active]="row===search.rowsOnPage" *ngFor="let row of search.rowsPossible" (click)="changeRow($event,row)">
                <a href="#">{{row}}</a>
              </li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>
