<h4 class="row pager">
  <li class="col-md-offset-2 col-md-2 text-right">
    <a href="yesterday" (click)="previousMonth($event)">Previous</a>
  </li>
  <input class="col-md-4" type="month" required="required" [(ngModel)]="month" (change)="changeDate()">
  <li class="col-md-2">
    <a href="tomorrow" (click)="nextMonth($event)">Next</a>
  </li>
</h4>

<div class="row month">
  <div class="col-md-6">
    <div class="lines"></div>

    <ul class="list">
      <li *ngFor="let entry_day of entries_day" class="row">

        <div class="col-md-1">
          {{entry_day.date | date:'dd'}}
        </div>

        <select (change)="updateEntry(entry_day)" [(ngModel)]="entry_day.signifier" class="col-md-1">
          <option *ngFor="let signifier of signifiers" [ngValue]="signifier.id" [selected]="signifier.id===entry_day.signifier" title="{{signifier.description}}">{{signifier.caractere}}</option>
        </select>

        <select (change)="updateEntry(entry_day)" [(ngModel)]="entry_day.bullet" class="col-md-1">
          <option *ngFor="let bullet of bullets" [ngValue]="bullet.id" [selected]="bullet.id===entry_day.bullet" title="{{bullet.description}}">{{bullet.caractere}}</option>
        </select>

        <input [(ngModel)]="entry_day.text" type="text" placeholder="{{text_placeholder}}" (keyup)="updateEntry(entry_day)" class="col-md-7" />

        <div class="col-md-2 text-center">
          <button type="button" *ngIf="entry_day.id!==0" (click)="removeEntry(entry_day,entries_day)" class="btn btn-danger">X</button>
          <button type="button" *ngIf="entry_day.id===0" (click)="addMonthEntry(entry_day)" class="btn btn-primary">Ajouter</button>
        </div>


      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="lines"></div>

    <ul class="list">

        <li *ngFor="let entry of entries_month" class="row">

          <select (change)="updateEntry(entry)" [(ngModel)]="entry.signifier" class="col-md-1">
            <option *ngFor="let signifier of signifiers" [ngValue]="signifier.id" [selected]="signifier.id===entry.signifier" title="{{signifier.description}}">{{signifier.caractere}}</option>
          </select>

          <select (change)="updateEntry(entry)" [(ngModel)]="entry.bullet" class="col-md-1">
            <option *ngFor="let bullet of bullets" [ngValue]="bullet.id" [selected]="bullet.id===entry.bullet" title="{{bullet.description}}">{{bullet.caractere}}</option>
          </select>

          <input [(ngModel)]="entry.text" type="text" placeholder="{{text_placeholder}}" (keyup)="updateEntry(entry)" class="col-md-8"/>

          <div class="col-md-2 text-center">
            <button (click)="removeEntry(entry,entries_month)" class="btn btn-danger">X</button>
          </div>

        </li>
        <li class="row">
          <select [(ngModel)]="newEntryMonthly.signifier" class="col-md-1">
            <option *ngFor="let signifier of signifiers" [ngValue]="signifier.id" [selected]="signifier.id===signifiers[0].id" title="{{signifier.description}}">{{signifier.caractere}}</option>
          </select>

          <select [(ngModel)]="newEntryMonthly.bullet" class="col-md-1">
            <option *ngFor="let bullet of bullets" [ngValue]="bullet.id" [selected]="bullet.id===bullets[0].id" title="{{bullet.description}}">{{bullet.caractere}}</option>
          </select>

          <input [(ngModel)]="newEntryMonthly.text" type="text" placeholder="{{text_placeholder}}" class="col-md-8"/>

          <div class="col-md-2 text-center">
            <button (click)="addMonthlyEntry()" class="btn btn-primary">Ajouter</button>
          </div>

        </li>
    </ul>

  </div>
</div>
