body {
    background-color: #f5f5f5;
    width: 600px;
    margin: 0 auto;
    padding: 0;
}

h4 {
    color: #cd0000;
    font-size: 42px;
    letter-spacing: -2px;
    text-align: left;
}

.list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    font-family: courier, monospace;
    border: 1px solid #dedede;
}

.list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
}

.list li:hover, .list li input:hover, .list li:hover>input, .list li:hover>select {
    background-color: #f0f0f0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 605px;
    margin-left: 40px;
}

.pager li>a {
  font-size: 24px;
}

.previous {
  text-align: right;
}

.next {
  text-align: left;
}

input[type=text] {
    border-width: 0px;
    width: 85%;
}

input[type=date] {
    text-align: center;
    border-width: 0px;
}

select {
    border-width: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 100;
}
