<h4><input type="date" required="required" [(ngModel)]="date" (change)="changeDate()"></h4>

<div class="lines"></div>

<div *ngIf="entries">
    <ul class="list">
        <!-- Need to resize the input to wrap the content -->
        <li *ngFor="let entry of entries">

          <select (change)="updateEntry(entry)" [(ngModel)]="entry.signifier">
            <option *ngFor="let signifier of signifiers" [ngValue]="signifier.id" [selected]="signifier.id===entry.signifier" title="{{signifier.description}}">{{signifier.caractere}}</option>
          </select>

          <select (change)="updateEntry(entry)" [(ngModel)]="entry.bullet">
            <option *ngFor="let bullet of bullets" [ngValue]="bullet.id" [selected]="bullet.id===entry.bullet" title="{{bullet.description}}">{{bullet.caractere}}</option>
          </select>

          <input id="{{entry.id}}" [(ngModel)]="entry.text" placeholder="{{text_placeholder}}" (keyup)="updateEntry(entry)" />
          <button (click)=removeEntry(entry)>X</button>

        </li>
        <li>

          <select [(ngModel)]="newEntry.signifier">
            <option *ngFor="let signifier of signifiers" [ngValue]="signifier.id" [selected]="signifier.id===signifiers[0].id" title="{{signifier.description}}">{{signifier.caractere}}</option>
          </select>

          <select [(ngModel)]="newEntry.bullet">
            <option *ngFor="let bullet of bullets" [ngValue]="bullet.id" [selected]="bullet.id===bullets[0].id" title="{{bullet.description}}">{{bullet.caractere}}</option>
          </select>

          <input [(ngModel)]="newEntry.text" type="text" placeholder="{{text_placeholder}}" />

        </li>
    </ul>
    <button (click)=addEntry()>Ajouter</button>
</div>
